# {{ wireguard__ansible_managed }}
network:
  version: 2
  renderer: networkd
  tunnels:
    {{ wireguard_interface }}:
      mode: wireguard
      # {{ inventory_hostname }}
{% if wireguard_address is defined %}
      addresses:
        - {{ wireguard_address }}
{% endif %}
{% if wireguard_addresses is defined %}
      addresses:
{%   for wg_addr in wireguard_addresses %}
        - {{ wg_addr }}
{%   endfor %}
{% endif %}
      key: {{ wireguard_private_key }}
{% if wireguard_endpoint is not defined or wireguard_endpoint != "" %}
      port: {{ wireguard_port }}
{% endif %}
{% if wireguard_mtu is defined %}
      mtu: {{ wireguard_mtu }}
{% endif %}
{% if wireguard_fwmark is defined %}
      mark: {{ wireguard_fwmark }}
{% endif %}
{% if wireguard_table is defined %}
      routing-table: {{ wireguard_table }}
{% endif %}
      peers:
{% for host in ansible_play_hosts %}
{%   if host != inventory_hostname and ((wireguard_as_spoke | default(false)) != true or (hostvars[host].wireguard_as_spoke | default(false)) != true) and ((hostvars[host].wireguard_endpoint is not defined or hostvars[host].wireguard_endpoint != "") or (wireguard_endpoint is not defined or wireguard_endpoint != "")) %}
        - # Name = {{ host }}
          keys:
            public: {{ hostvars[host].wireguard__fact_public_key }}
{%     if hostvars[host].wireguard_preshared_key is defined %}
            shared: {{ hostvars[host].wireguard_preshared_key }}
{%     endif %}
{%     if hostvars[host].wireguard_allowed_ips is defined %}
          allowed-ips:
            - {{ hostvars[host].wireguard_allowed_ips }}
{%     else %}
{%       if wireguard_address is defined %}
          allowed-ips:
            - {{ hostvars[host].wireguard_address.split('/')[0] }}/32
{%       endif %}
{%       if wireguard_addresses is defined %}
          allowed-ips:
{%         for wg_addr in hostvars[host].wireguard_addresses %}
{%           if (wg_addr | ansible.utils.ipv4) %}
            - {{ wg_addr.split('/')[0] }}/32
{%           elif (wg_addr | ansible.utils.ipv6) %}
            - {{ wg_addr.split('/')[0] }}/128
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endif %}
{%     if hostvars[host].wireguard_persistent_keepalive is defined and (hostvars[host].wireguard_endpoint is not defined or hostvars[host].wireguard_endpoint != "") %}
          keepalive: {{ hostvars[host].wireguard_persistent_keepalive }}
{%     endif %}
{%     if (hostvars[host].wireguard_dc is defined and wireguard_dc is defined and wireguard_dc['name'] != hostvars[host].wireguard_dc['name']) %}
          endpoint: {{ hostvars[host].wireguard_dc['endpoint'] }}:{{ hostvars[host].wireguard_dc['port'] }}
{%     elif hostvars[host].wireguard_endpoint is defined and hostvars[host].wireguard_endpoint != "" %}
{%       if hostvars[host].wireguard_port is defined %}
          endpoint: {{ hostvars[host].wireguard_endpoint }}:{{ hostvars[host].wireguard_port }}
{%       else %}
          endpoint: {{ hostvars[host].wireguard_endpoint }}:{{ wireguard_port }}
{%       endif %}
{%     elif hostvars[host].wireguard_endpoint is defined and hostvars[host].wireguard_endpoint == "" %}
          # No endpoint defined for this peer (wireguard_endpoint is empty)
{%     elif hostvars[host].wireguard_port is defined %}
          endpoint: {{ host }}:{{ hostvars[host].wireguard_port }}
{%     else %}
          endpoint: {{ host }}:{{ wireguard_port }}
{%     endif %}
{%   endif %}
{% endfor %}
{% if wireguard_unmanaged_peers is defined %}
        # Peers not managed by Ansible from "wireguard_unmanaged_peers" variable
{%   for peer in wireguard_unmanaged_peers.keys() %}
        - # Name = {{ peer }}
          keys:
            public: {{ wireguard_unmanaged_peers[peer].public_key }}
{%     if wireguard_unmanaged_peers[peer].preshared_key is defined %}
            shared: {{ wireguard_unmanaged_peers[peer].preshared_key }}
{%     endif %}
{%     if wireguard_unmanaged_peers[peer].allowed_ips is defined %}
          allowed-ips:
            - {{ wireguard_unmanaged_peers[peer].allowed_ips }}
{%     endif %}
{%     if wireguard_unmanaged_peers[peer].endpoint is defined %}
          endpoint: {{ wireguard_unmanaged_peers[peer].endpoint }}
{%     endif %}
{%     if wireguard_unmanaged_peers[peer].persistent_keepalive is defined %}
          keepalive: {{ wireguard_unmanaged_peers[peer].persistent_keepalive }}
{%     endif %}
{%   endfor %}
{% endif %}
