---
- name: Update APT package cache
  apt:
    update_cache: true
    cache_valid_time: 3600
  tags:
    - wg-install

- name: Install required packages
  package:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - software-properties-common
      - linux-headers-{{ ansible_kernel }}
  tags:
    - wg-install

- name: Add WireGuard repository
  apt_repository:
    repo: "ppa:wireguard/wireguard"
    state: present
    update_cache: true
  tags:
    - wg-install
