---
# Copyright (C) 2020 Stefan Haun
# Copyright (C) 2021 Steve Fan
# SPDX-License-Identifier: GPL-3.0-or-later

- include_tasks: "setup-debian-raspbian.yml"
  when: ansible_lsb.id == "Raspbian"
  register: wireguard__register_raspbian_setup

- include_tasks: "setup-debian-pve-variant.yml"
  when: ansible_kernel.find("pve") != -1
  register: wireguard__register_pve_variant_setup

- include_tasks: "setup-debian-vanilla.yml"
  when: wireguard__register_raspbian_setup is skipped and wireguard__register_pve_variant_setup is skipped
