---
# Copyright (C) 2020 Roman Danko
# SPDX-License-Identifier: GPL-3.0-or-later

- name: (CentOS 7) Install EPEL & ELRepo repository
  yum:
    name:
      - epel-release
      - https://www.elrepo.org/elrepo-release-7.el7.elrepo.noarch.rpm
    update_cache: yes

- name: (CentOS 7) Install yum-plugin-elrepo
  yum:
    name: yum-plugin-elrepo
    update_cache: yes

- name: (CentOS 7) Ensure WireGuard DKMS package is removed
  yum:
    name:
      - "wireguard-dkms"
    state: absent

- name: (CentOS 7) Install WireGuard packages
  yum:
    name:
      - "kmod-wireguard"
      - "wireguard-tools"
    state: present
