---
# Copyright (C) 2018-2020 Robert Wimmer
# SPDX-License-Identifier: GPL-3.0-or-later

- name: (Archlinux) Install wireguard-lts package
  pacman:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  with_items:
    - { name: wireguard-dkms, state: absent }
    - { name: wireguard-lts, state: present }
  become: yes
  tags:
    - wg-install
  when:
    - ansible_kernel is match(".*-lts$")
    - ansible_kernel is version('5.6', '<')

- name: (Archlinux) Install wireguard-dkms package
  pacman:
    name: wireguard-dkms
    state: present
  become: yes
  tags:
    - wg-install
  when:
    - not ansible_kernel is match(".*-lts$")
    - ansible_kernel is version('5.6', '<')

- name: (Archlinux) Install wireguard-tools package
  pacman:
    name: wireguard-tools
    state: present
  tags:
    - wg-install
